.feedback{

    margin-top: 100px;
    height: 50%;
    width:100%;
  
}

.example-container{
  
   width: 100% ;
    display: block;
    float: none;  }

  .col.view-btn{
    width: 88px;
    margin: 0 auto;
    float: none;
    display: block;
 }
 h1 {
    width: fit-content;
    float: none;
    margin-left: 0px;
    left: 0px;
    padding: 0px;
}