<div class="body">

<mat-card class="form_padding" >
  <h2>Signin</h2>

 

      <form class="example-form">
          
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(ngModel)]="email" name="email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('pattern')">
              Please enter a valid email 
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
              </mat-form-field>
              <button class="center-btn" (click)="signin()" mat-raised-button color="accent">Signin</button> <br> <br>
              If not registered yet? then <a routerLinkActive="active" routerLink="/signup"> Sign Up </a>
        </form>


      </mat-card>

  </div> 


