<div class="body">

<mat-card class="form_padding" >
  <h2>Signin</h2>

 

      <form class="example-form">
          
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password">
              </mat-form-field>
              <button class="center-btn" mat-raised-button color="accent">Signin</button> <br> <br>
              If not registered yet? then <a routerLinkActive="active" routerLink="/signup"> Sign Up </a>
        </form>


      </mat-card>

  </div> 


