<mat-toolbar color="primary">
  <span>Real Time Parking App</span>

  <div class="nav-right">
    <ng-container >
      <button mat-raised-button color="accent">
        <a routerLink="/"> Sign In </a>
      </button>
      <button mat-raised-button color="accent">
        <a routerLink="/signup"> Sign Up </a>
      </button>
    </ng-container>
    <ng-template>
      <button mat-raised-button color="accent" (click)="signOut()">
        Sign out
      </button>
    </ng-template>
  </div>
</mat-toolbar>