app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.nav-right {
    margin-top: 8px;
    float: right;
    display: inline-flex;
    right: 10px;
    position: absolute;
}
.nav-right a{
    color: white;
    margin-left:5px;
}
