<mat-toolbar color="primary">
  <span>Real Time Parking App</span>

  <div class="nav-right">
    <ng-container >
        <a mat-raised-button color="accent" routerLinkActive="active" routerLink="/"> Sign In </a>
     
        <a mat-raised-button color="accent" routerLinkActive="active" routerLink="/signup"> Sign Up </a>
      <!-- </button> -->
    </ng-container>
    <ng-template>
      <button mat-raised-button color="accent" (click)="signOut()">
        Sign out
      </button>
    </ng-template>
  </div>
</mat-toolbar>


