.example-card {
    margin-top: 65px;
        text-align: center;
         color: #483d8b;
         width: 100%;
         margin-top: 64px;
         padding: 9px !important;
         font-size: 24px;
         background: #fff;
     }
.slots {
    margin-top: 10px;
    width:44%;
}
.view-btn{
margin-right: 5px;
margin-bottom: 10px;
}

.center{
    text-align: center;

}
 .view-btn.mat-raised-button.mat-primary.bookingTrue {
    background-color: green;
} 

.class_green{
    background-color: green !important;
}

.class_blue{
    background-color: blue !important;
}

.example-form {
    text-align: center;
}
.center-btn{
    text-align: center;
}