.example-card {
    margin-top: 65px;
        text-align: center;
         color: #483d8b;
         width: 100%;
         margin-top: 64px;
         padding: 9px !important;
         font-size: 24px;
         background: #fff;
     }
.slots {
    margin-top: 10px;
    width:100%;
}

.example-form {
    text-align: center;
}