<div class="container">
    <div class="row"> 
    <mat-card class="example-card">
       <b> <span class="dash">Parking Slots Available</span>  </b>

      </mat-card>
    
  <mat-card class="slots">
  
      <button *ngFor="let slot of slotList;" [ngClass]="{'view-btn': true, 'bookingTrue': slot.is_booked}"  mat-raised-button color="primary" (click)="updateSlot(slot, i)" [value]="slot">
        {{ slot.name }}
      </button>
  <div class="center-btn">
    <a mat-button color="accent" class="btn-booking"  routerLinkActive="active" routerLink="/view"> View Parking </a>
  </div>

  </mat-card>
  </div>
  </div>