<mat-card>
    <h2>SignUp</h2>
  
    <div class="form_padding"> 
  
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password">
                </mat-form-field>
                <button class="center-btn" mat-raised-button color="accent">SignUp</button>
            
          </form>
  
  
  
  
    </div>