.mat-tab-group {
    margin-top: 5px;
    width: 100%;
}
.example-form {
    text-align: center;
   
}
.example-card {
    margin-top: 65px;
        text-align: center;
         color: #483d8b;
         width: 100%;
         margin-top: 64px;
         padding: 9px !important;
         font-size: 24px;
         background: #fff;
     }
     .adminPanel {
        margin:20px;
   
        width: 270px;
        text-align: center;
        background-color: #E6EE9C;
        display: inline-block;
        
        }

        .prnt-btn{
            float: right;
        
            margin-top: -60px;
            margin-right: 5px;
        }
        .btns{
            padding: 8px;
        }
    .bookinglist-container{
        background-color: lightblue;
        padding: 5px;
        border-radius: 6px;
        margin: 4px 0px !important; 
    }
        .adminimage{
            margin-top: 10px;
        }

        mat-card.stdcmp {
            position: relative;
            width: calc(100% - 350px);
            margin: 20px;
            display: inline-block;
            vertical-align: top;
        }
        