.example-card {
   text-align: center;
    color: #483d8b;
    width: 100%;
    margin-top: 64px;
    padding: 9px !important;
    font-size: 24px;
    background: #fff;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-right {
    margin-right: 6px;
}

.margin-left {
    margin-left: 6px;
}

.img-fluid {
    max-width: 100%;
    height: fit-content;
}

        img {
            height: 220px;
        }
        
        .mat-card-title {
            text-align: center;
        }

        .mat-raised-button {
    margin-left: 96px;
        }

     .app-icon-button {
         margin-left: 20px;
     }

     .mat-card-image {
        width: calc(100% + 48px);
        margin: 0 -24px 16px -24px;
    
    }