.booking-side-wrapper {
    width: 500px;
    height: 500px;
    background-color: lightpink;
        margin-top: 63px;
        position: relative !important;
    }
    mat-form-field{
        margin-left:165px;
    }

    p {
text-align: center;    }
    .locs {
        Color: purple;
        font-family: 'Lucida Sans';
        font-size: 30px;
        padding-top: 30px;

        text-align: center;
    }


    .mat-card{

    background-color: lightblue;
    margin-top: -468px;
    margin-left: 550px;
    width: 45%;
    height: 458px;
    position: absolute !important;
    }

    .mat-card-image {
        margin: 0px !important;
        height: 90%;
    }

    .mat-card-title {
        text-align: center;
    }