<div class="container">
  <div class="row">

    <div class="col booking-side-wrapper">
      <div class="locs">Our Locations </div>

      <mat-card class="card1">
        <form [formGroup]="rForm" (ngSubmit)="ViewSlot(rForm.value)">
          <mat-form-field>
            <mat-select placeholder="Location" formControlName=location [(value)]="selected">

              <mat-option *ngFor="let location of locations" [value]="location">
                {{ location.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <p>You selected: {{selected.name}}</p>

          <mat-form-field class="time">
            <mat-select placeholder="Time" formControlName=time [(ngModel)]="time">
              <mat-option *ngFor="let time of times" [value]="time">
                {{time}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="date">
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName=date [(ngModel)]="date" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="reserve">
            <mat-select placeholder="Reserved Hours" formControlName=reserveHrs [(ngModel)]="hour">
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{hour}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" class="btn-slot" type="submit"> View slots </button>
          <!--routerLinkActive="active" routerLink="/slots" -->
        </form>
      </mat-card>
    </div>

    <mat-card class="col-7 booking-image-side">
      <img mat-card-image src="{{selected.image}}" width="10%">
      <mat-card-title> {{selected.name}} </mat-card-title>

    </mat-card>


  </div>

</div>