.booking-side-wrapper {
    height: 500px;
    background-color: #3f51b5;
    margin-top: 80px;
    position: relative !important;
}
.booking-image-side {
    height: 500px;
    margin-top: 80px;
    margin-left:15px;
}
mat-form-field{
    margin-left:124px;

}

.mat-input-wrapper {
    width: 79%;
}

p {
    text-align: center;  
    Color: rgb(68, 0, 255); 
}
.time{
    margin-left: 124px !important;
}
  
.locs {
        Color: #fff;
        font-family: 'Lucida Sans';
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 10px;

        text-align: center;
    }

    .card1{
        background-color:#fff!important;
        height:65%;
       
    }

    .col-7{

    background-color: #ff4081;
    color:#fff;
  
    }

    .booking-image-side .mat-card-image {
        width: calc(100% + 48px);
        margin: 0 -24px 16px -24px;
        height: 90%;
    }

    .mat-card-title {
        text-align: center;
    }