.booking-side-wrapper {
    height: 500px;
    background-color: #ff4081;
    margin-top: 80px;
    position: relative !important;
}
.booking-image-side {
    height: 500px;
    margin-top: 80px;
    margin-left:15px;
}
mat-form-field{
    margin-left:165px;
}

p {
    text-align: center;  
    Color: #fff; 
}
  
.locs {
        Color: #fff;
        font-family: 'Lucida Sans';
        font-size: 30px;
        padding-top: 30px;

        text-align: center;
    }


    .mat-card{

    background-color: #ff4081;
    color:#fff;
  
    }

    .mat-card-image {
        height: 90%;
    }

    .mat-card-title {
        text-align: center;
    }